# VSCode configuration directories
**/.vscode/

# Fig and output directories
**/fig/
**/output/

# Build artifacts and temporary files related to source code
**/*.mod
**/*.o
**/__pycache__/
**/start_calculation

# Windows Zone.Identifier metadata files
**/*Zone.Identifier